<div class="flex flex-row justify-between bg-gray-900 p-6 rounded shadow-md">
    <p class="flex-grow"> {{.}} </p>
    <button hx-get="/sunlightmeter/clear" hx-target="#responseContent" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 rounded text-xs">
        X
    </button>
</div>